@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
:root {
  --bgColor: #F5F3F3;
  --textColor: #252525;
  --pColor: #7C7A7A;
  --goldenColor: #E0B069;
  --grayColor: #383839;
  --whiteColor: #f2f2f2;
  --bgIconColor: #D9D9D9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Italiana", serif;
  letter-spacing: 1px;
  list-style: none;
  text-decoration: none;
  outline: none;
}

body {
  background: var(--bgColor);
  color: var(--textColor);
  height: 100vh;
}

img {
  width: 100%;
  display: block;
}

.container {
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
  padding: 0.9rem 0;
}

.container {
  display: flex;
  flex-direction: column;
}
.container .images .imgCapa img {
  margin: 0 auto;
  max-width: 50rem;
  height: 100%;
  max-height: 20rem;
  object-fit: cover;
  border-radius: 15px;
}
.container .images .imgPerfil img {
  border-radius: 50%;
  margin: -5rem auto;
  max-width: 10rem;
  height: 100%;
  max-height: 10rem;
  object-fit: cover;
}
.container .mainContent {
  margin-top: 6rem;
  text-align: center;
  z-index: 3;
}
.container .mainContent .texts h2 {
  font-size: 2.2rem;
}
.container .mainContent .texts p {
  margin-top: 0.3rem;
  font-size: 1.2rem;
  color: var(--grayColor);
}
.container .mainContent .redesSociais {
  margin-top: 1.5rem;
}
.container .mainContent .redesSociais ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.container .mainContent .redesSociais ul li {
  background: var(--grayColor);
  border-radius: 10px;
  padding: 0.5rem 0.6rem 0.2rem;
  cursor: pointer;
  transition: 0.3s ease;
}
.container .mainContent .redesSociais ul li:hover {
  background-color: rgba(56, 56, 57, 0.2274509804);
  transform: scale(1.07);
}
.container .mainContent .redesSociais ul li a {
  font-size: 1.8rem;
  color: var(--goldenColor);
  transition: 0.3s ease;
}
.container .mainContent .redesSociais ul li a.instagram:hover {
  color: #E1306C;
}
.container .mainContent .redesSociais ul li a.pinterest:hover {
  color: #c8232c;
}
.container .mainContent .redesSociais ul li a.behance:hover {
  color: #053eff;
}
.container .mainContent .redesSociais ul li a.dribbble:hover {
  color: #ea4c89;
}
.container .mainContent .redesSociais ul li a.tiktok:hover {
  color: #0b9691;
}

@media (max-width: 790px) {
  .images .imgCapa {
    margin-top: -2rem;
  }
}
@media (max-width: 530px) {
  .container .images .imgCapa img {
    max-height: 15rem;
  }
  .container .images .imgPerfil img {
    margin: -4.5rem auto;
    max-width: 8rem;
    max-height: 8rem;
  }
  .container .mainContent {
    margin-top: 5rem;
  }
  .container .mainContent .texts h2 {
    font-size: 1.8rem;
  }
  .container .mainContent .texts p {
    font-size: 0.98rem;
  }
  .container .mainContent .redesSociais {
    margin-top: 1.5rem;
  }
  .container .mainContent .redesSociais ul {
    gap: 1rem;
  }
  .container .mainContent .redesSociais ul li a {
    font-size: 1.5rem;
  }
}
.container .linkContent {
  margin: 0 auto;
}
.container .linkContent ul {
  margin-top: 1.6rem;
}
.container .linkContent ul a li {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  background-color: var(--grayColor);
  color: var(--whiteColor);
  padding: 1.2rem 6rem;
  font-size: 1.2rem;
  border-radius: 10px;
  transition: 0.3s ease;
}
.container .linkContent ul a li:hover {
  background-color: rgba(56, 56, 57, 0.7607843137);
}
.container .linkContent ul a li i {
  color: var(--goldenColor);
}

@media (max-width: 440px) {
  .container .linkContent ul {
    margin-top: 1rem;
  }
  .container .linkContent ul a li {
    padding: 1rem 5rem;
    font-size: 1rem;
  }
}
@media (max-width: 340px) {
  .container .linkContent ul {
    margin-top: 0.6rem;
  }
  .container .linkContent ul a li {
    padding: 1rem 4rem;
    font-size: 0.9rem;
  }
}
.secDesenhos {
  margin-top: 2rem;
}
.secDesenhos .text {
  margin: 0 auto;
  text-align: center;
}
.secDesenhos .text h1 {
  font-size: 1.3rem;
  color: var(--textColor);
}
.secDesenhos .text h1::after {
  display: block;
  content: "";
  width: 10rem;
  height: 5px;
  background: var(--goldenColor);
  margin: 0.6rem auto;
  border-radius: 8px;
}
.secDesenhos .desenhosContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
}
.secDesenhos .desenhosContent img {
  border-radius: 8px;
  height: 100%;
  max-height: 18rem;
  object-fit: cover;
  transition: 0.3s ease;
}
.secDesenhos .desenhosContent .imgVerMais {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secDesenhos .desenhosContent .imgVerMais img {
  opacity: 0.9;
}
.secDesenhos .desenhosContent .imgVerMais a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 18rem;
}
.secDesenhos .desenhosContent .imgVerMais a span {
  color: var(--whiteColor);
  background: var(--grayColor);
  padding: 1rem 2rem;
  border-radius: 10px;
  transition: 0.3s ease;
}
.secDesenhos .desenhosContent .imgVerMais a span:hover {
  color: var(--grayColor);
  background: var(--goldenColor);
}

.footer {
  text-align: center;
  margin-top: 4rem;
}
.footer p {
  font-size: 0.8rem;
  color: var(--pColor);
  margin-bottom: 1rem;
}

@media (max-width: 840px) {
  .secDesenhos .desenhosContent {
    grid-template-columns: repeat(2, 20rem);
    margin: 2rem 1rem 1rem 1rem;
    place-content: center;
  }
  .secDesenhos .desenhosContent img {
    max-height: 15rem;
  }
}
@media (max-width: 690px) {
  .secDesenhos .desenhosContent {
    grid-template-columns: repeat(2, 15rem);
  }
  .secDesenhos .desenhosContent img {
    max-height: 13rem;
  }
}
@media (max-width: 540px) {
  .secDesenhos {
    margin-top: 1rem;
  }
  .secDesenhos .text h1 {
    font-size: 1.1rem;
  }
  .secDesenhos .text h1::after {
    width: 7rem;
  }
  .secDesenhos .desenhosContent {
    grid-template-columns: repeat(1, 14rem);
  }
  .footer {
    margin-top: 1rem;
  }
}